<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".utils.AnalyticsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/xcarriermail"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.XCarrierMaterialDesign"
        tools:targetApi="31">
        <activity
            android:name=".pendingnew.SearchPackagesActivity"
            android:exported="false" />
        <activity
            android:name=".scanner.SimpleProcessActivty"
            android:exported="false" />
        <activity
            android:name=".scanner.SimpleScannerActivity"
            android:exported="false" />
        <activity
            android:name=".pending.PendingDeliveriesActvity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity2"
            android:exported="false" />
        <activity
            android:name=".trackreport.TrackReportActivty"
            android:exported="false" />
        <activity
            android:name=".process.SigantureviewActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".barcodescanner.ProcessBarcodeScannerActivity"
            android:exported="false" />
        <activity
            android:name=".process.ProcessPackageFinalActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".process.ManualProcessPackageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".process.ProcessPackageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BottomNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HomeActvity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WebActvity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".barcodescanner.BarcodeScannerActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />




        <service
            android:name=".utils.NetWorkService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--         code change here -->
        <receiver
            android:name=".utils.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>





    </application>

</manifest>